body{
	background-image:url(bk.jpg);
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
	font-family:Time New Roman;
    display: grid;
	min-height: 100px;
}

.audio {
    margin-top: 50px;
    margin-left: 200px;
    opacity: 70%;
}
.container1{
	padding: 10px;
	gap: 30px;
	display: flex;
    justify-content: center;
}
.foto{
    margin-top: 30px;
	padding: 0;
	box-shadow: 0 5px 10px #030101;
	text-align: center;
	border-radius: 30px;
    height: 500px;
    opacity: 95%;
}
.foto img{
	width: 100%;
	border-radius: 25px;
	margin-bottom: 10px;
    width:600px;
	height:1000px;

}
.container2{
    margin-top: 500px;
	padding: 0px;
	display: flex;
    justify-content: center;
    gap: 125px;
}
.audio{
    justify-content: center;
opacity: 95%;
}
.kata{
	font-weight: bold;
	margin-top:100px;
    justify-content: center;
    opacity: 0%;
}
.container3{
	padding: 10px;
	gap: 30px;
	display: grid;
    justify-content: center;
}
.ucapan{
	background-color: rgb(108, 142, 146);
	box-shadow: 0 5px 10px #100404;
	text-align: Center;
	border-radius: 15px;
	width: 550px;
	height: 600px;
	padding: 30px;
    opacity: 95%;
    color:rgb(211, 218, 181);
}
.ucapan img {
    width: 100%;
	margin-bottom: 10px;
    width: 350px;
    opacity: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 10px black;
}
.ucapan1{
	background-color: rgb(108, 142, 146);
	box-shadow: 0 5px 10px #100404;
	text-align: Center;
	border-radius: 15px;
	width: 550px;
	height: 800px;
	padding: 30px;
    opacity: 95%;
    color:rgb(211, 218, 181);
}
.ucapan1 img {
    width: 100%;
	margin-bottom: 10px;
    width: 350px;
    opacity: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 10px black;
}