body{
	background-color:rgb(35, 65, 55);
	background-size: cover;
	background-position:center;
	height: 120vh;
	font-family:Lucida Handwriting;
	margin:0px;
}
.nama{
	margin-top:50px;
	text-align:center;
	color:rgb(123, 168, 168);
}
.button {
	margin-top:20px;
	background-color:rgb(123, 168, 168); 
	border:none;
	color: rgb(35, 65, 55);
	padding:10px;
	text-align: center;
	display: inline-block;
	font-size: 15px;
	font-family:time new roman;  	
	border-radius:100px;
	transition-duration: 0.4s;
}
.button:hover{
	background-color:white;
	transform:scale(1.3);
	border-radius:100px;
}